# Terraform
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/.terraform/
Terraform/terraform.tfvars

# Ansible
*.retry

# Python (if using boto3/Lambda)
__pycache__/
*.pyc
.venv/
env/

# VSCode
.vscode/
